body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-evenly;
    background-color: #1f2937;
    font-size: 24px;
    color: #f9faf8;
    padding: 10px;
    margin: 0;
    height: 60px;
    align-items: center;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.header-text {
    font-weight: bolder;
}

.header-links {
    display: flex;
    gap: 30px;
}

.featured-content {
    display: flex;
    background-color: #1f2937;
    padding: 100px;
    justify-content: center;
    gap: 100px;
}

.left-side-featured {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    gap: 10px;
}

.hero-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

.hero-subtext {
    color: #e5e7eb;
    font-size: 18px;
}

.button-style {
    color: #f9faf8; 
    width: min-content;
    min-width: 100px;
    border: none;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
}

.sign-up-button {
    background-color: #3882f6;
}

.featured-img {
    display: flex;
    color: #e5e7eb;
    font-size: 18px;
    background-color: gray;
    align-items: center;
    justify-content: center;
    width: 450px;
}

.image-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px;
}

.image-section-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.image-section-content {
    display: flex;
    justify-content: center;
}

.img-box-with-text {
    display: flex;
    flex-direction: column;
    width: 150px;
    margin: 30px;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.place-holder {
    width: 125px;
    height: 125px;
    border-style: solid;
    border-color: #3882f6;
    border-width: medium;
    border-radius: 8px;
}

.place-holder-text {
    font-size: 18px;
    color: #1f2937;
    text-align: center;
}

.quote-section{
    display: flex;
    background-color: #e5e7eb;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.quote-text {
    display: flex;
    max-width: 750px;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    font-weight: lighter;
}

.quote-name {
    display: flex;
    font-weight: bolder;
    justify-content: flex-end;
    font-size: 24px;
}


